/* Início tela 3*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #fbfafb; /* LUIS: usei color picker do chrome pra bater mais com o layout do figma */
    font-family: 'Roboto', sans-serif;
}



header {
    width: 100%;
    height: 69px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header h1 {
    color: #FFFFFF;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
}

.title {
    margin-top: 5.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
}

.container1 .questions {
    padding-top: 20px;
    padding-bottom: 20px;
}

.basicInfo {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    margin-top: 27px;
    gap: 20px;
   
    
}
.basicInfo .questions, .basicInfo .questionWrapper {
    background-color: #FFFFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    min-width: 375px;
    width: 31vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    
}



.basicInfo input, textarea {
    min-width: 341px;
    width: 29.5vw;
    min-height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 20px;

}

textarea {
    margin-bottom: 15px;
    padding-top: 10px;
}

.basicInfo input::placeholder, textarea::placeholder  {
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    font-style: italic;
    font-weight: 400;   
    font-family: 'Roboto', sans-serif;
}

.basicInfo button {
    margin-top: 85px;
    background: #EC362D;
    border-radius: 15px;
    min-width: 324px;
    width: 19vw;
    height: 54px;
    color: #FFF5F4;
    border: none;
    margin-bottom: 60px;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.label {
    text-align: left;
    width: 100%;
    margin-left:30px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    
}

.question {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    cursor: pointer;
    
   
   
}

.question h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.question img {
    width: 20px;
    height: 20px;
   
}

.hidden {
    display: none!important;
    
}

.questionWrapper input:last-child {
    margin-bottom: 20px;
}

.quizzReady  {
    text-align: center;
    display: inline-block;
    
    
}

.quizzImg {
    position: relative;
    cursor: pointer;
}

.quizzImg img {
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 5px;   
    
}

.quizzImg p{   
    color: #FFFFFF;
    position: absolute;
    bottom: 15px;    
    left: 10px;
    font-weight: 400;
    font-size: 19px;
}

.container4 main {
    text-align: center;
}

.container4 button {
    margin-top: 35px;
    margin-bottom: 13px;
    background: #EC362D;
    border-radius: 15px;
    min-width: 220px;
    width: 11.5vw;
    height: 44px;
    color: #FFF5F4;
    border: none;
    font-size: 21px;
    cursor: pointer;
   
}

.quizzReady p:nth-child(4) {
    font-size: 18px;
    color:#818181 ;
    cursor: pointer;
}



@media (max-width:400px) {

    .title  {
        margin-top: 106px;
        margin-bottom: 29px;
    }
    .basicInfo button {
        margin-top: 35px;
    }
}

/* Fim  tela 3 */

/* Início  tela 1 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FAFAFA;
}

header{
  position: fixed;
  z-index: 4;
	top: 0px;
	left: 0px;
  background-color: #EC362D;
  height: 69px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  font-weight: 700;
  color: white;
}

content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  width: 1051px;
  margin-bottom: 50px;
}
user-quizz{
  display: flex;
  justify-content: center;
  margin-bottom: 77px;
}

.no-quizz{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 181px;
  width: 100%;
  border: 1px dashed #D5D5D5;
  border-radius: 5px;
}
.text-box{
  display: flex;
  align-items: center;
  color: #B9B9B9;
  width: 250px;
  height: 107px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;

}

.create-quizz{
  font-size: 21px;
  font-weight: 400;
  color: #EC362D;
  border: 1px dashed #EC362D;
  border-radius: 50px;
  width: 151px;
  height: 40px;
  background-color: transparent;
  margin-bottom: 33px;
}

all-quizz{
  width: 100%;
}

.with-quizz{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.addbutton{
  margin-left: 17px;
}
.title-page1{
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.quizz-container{
  margin-top: 12px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 12px;
}

.quizz-box{
  background-color: green;
  height: 181px;
  width: 340px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.quizz-title{
  color: white;
  font-size: 19px;
  font-weight: 400;
  width: 301px ;
  position: absolute;
	bottom: 15px;
  z-index: 2;
}

.quizz-image{
  width: 340px;
  border-radius: 5px;
}

.gradient{
  position: absolute;
  background-image: linear-gradient(to top , black, transparent);
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
/* Fim da tela 1 */

/* Início tela 2 */

.quiz-header {
    width: 1440px;
    height: 227px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url(/Projetao1_BuzzQuizz/images/Rectangle42.png);
    margin-top: 69px;
}
.quiz-title {
    font-family: "Roboto";
    font-size: 39px;
    font-weight: 200;
    color: #FFFFFF;
    text-align: center;
    padding-top: 90px;
}
.ques-container {
    padding-top: 25px;
    margin: auto;
    margin-top: 140px;
    width: 759px;
    height: 676px;
    background-color: #FFFFFF;
}
.ques-header {
    width: 93%;
    margin: auto;
    height: 120px;
    background-color: #434ca0;
}
.ques-title {
    color: #fefeff;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
}

/* Fim tela 2 */
